#bodybox {
    width: 100%;
    min-width: 1100px;
}
#headbox {
    width: 100%;
}
#headbox h1 {
    margin: 0px 0px 15px 220px;
    font-style: italic;
}

.bodybox {
    float: left;
}
#leftbox {
    margin: 0px 10px;
    width: 200px;
}
#centralbox {
    border: 1px solid black;
    padding: 2px;
    min-width: 600px;
    max-width: 850px;
    background-color: white;
}
#rightbox {
    margin: 0px 10px;
    width: 200px;
}

.leftbox , .rightbox {
    background-color: white;
    margin: 0px 0px 15px 0px;
    border: 1px solid black;
}
.leftbox h3 , .rightbox h3 {
    margin: 0px 10px;
    padding: 5px 0px;
    font-style: italic;
}
.leftbox ul , .rightbox ul {
    margin: 0px;
    padding: 0px 0px 5px 30px;
}
.leftbox p , .rightbox p {
    margin: 5px 15px;
}
.leftbox table , .rightbox table {
    margin: 5px 15px;
}
.leftbox table th , .rightbox table th {
    text-align: left;
}

#centralbox h2 {
    margin: 10px;
}
#centralbox p {
    margin: 10px;
    text-align: justify;
}