<?xml version="1.0" encoding="UTF-8"?>
<config>
    <matchmaker>
        <endpoint>http://lod2.vse.cz:8080/matchmaker/</endpoint>
        <operations>
            <match>
                <business-entity-to-contract>match/business-entity/to/contract</business-entity-to-contract>
                <contract-to-business-entity>match/contract/to/business-entity</contract-to-business-entity>
                <contract-to-contract>match/contract/to/contract</contract-to-contract>
            </match>
            <load>
                <contract>load/contract</contract>
                <business-entity>load/business-entity</business-entity>
            </load>
        </operations>
    </matchmaker>
    <mysql>
        <server></server>
        <dbname></dbname>
        <username></username>
        <password></password>
    </mysql>
    <sparql>
        <public-graph-name></public-graph-name>
        <endpoints>
            <private-query></private-query>
            <private-update></private-update>
            <public-query></public-query>
            <public-update></public-update>
        </endpoints>
    </sparql>
    <emails>
        <info></info>
        <invitation></invitation>
    </emails>
    <url>
        <cpv>http://linked.opendata.cz/resource/cpv-2008/concept/</cpv>
        <new-contract>http://linked.opendata.cz/resource/pc-filing-app/public-contract/</new-contract>
        <nuts>http://ec.europa.eu/eurostat/ramon/rdfdata/nuts2008/</nuts>
        <proctypes>http://purl.org/procurement/public-contracts-procedure-types#</proctypes>
        <new-business-entity>http://linked.opendata.cz/resource/pc-filing-app/business-entity/</new-business-entity>
        <new-named-graph>http://linked.opendata.cz/resource/pc-filing-app/dataset/</new-named-graph>
    </url>
    <system>
        <session-timeout>86400</session-timeout>
    </system>
</config>
