<?xml version="1.0" encoding="UTF-8"?>
<config>
    <payola>
        <endpoint>http://live.payola.cz/datasource/5ccc3cc7-d081-464d-bb12-9f40dd77969a</endpoint>
    </payola>
    <number-of-bidders>
        <endpoint>http://i2g.unixstorm.org:8180/contract-analytics/bidders</endpoint>   
    </number-of-bidders>
    <matchmaker>
        <endpoint>http://lod2.vse.cz:8080/matchmaker/</endpoint>
        <operations>
            <match>
                <business-entity-to-contract>match/business-entity/to/contract</business-entity-to-contract>
                <contract-to-business-entity>match/contract/to/business-entity</contract-to-business-entity>
                <contract-to-contract>match/contract/to/contract</contract-to-contract>
            </match>
            <load>
                <contract>load/contract</contract>
                <business-entity>load/business-entity</business-entity>
            </load>
        </operations>
    </matchmaker>
    <sparql>
        <public-graph-name></public-graph-name>
        <endpoints>
            <private-query></private-query>
            <private-update></private-update>
            <public-query></public-query>
            <public-update></public-update>
        </endpoints>
    </sparql>
    <emails>
        <info></info>
        <invitation></invitation>
    </emails>
    <system>
        <session-timeout>86400</session-timeout>
        <documents-dir></documents-dir>
    </system>
</config>
