{{!
@param IRI graph-uri
@param IRI resource
}}

DELETE WHERE {
  GRAPH <{{graph-uri}}> {
    <{{resource}}> ?p1 ?o1 .
    OPTIONAL {
      FILTER (isBlank(?o1))
      ?o1 ?p2 ?o2 .
      OPTIONAL {
        FILTER (isBlank(?o2))
        ?o2 ?p3 ?o3 .
        OPTIONAL {
          FILTER (isBlank(?o3))
          ?o3 ?p4 ?o4 .
          OPTIONAL {
            FILTER (isBlank(?o4))
            ?o4 ?p5 ?o5 .
            OPTIONAL {
              FILTER (isBlank(?o5))
              ?o5 ?p6 ?o6 .
              OPTIONAL {
                FILTER (isBlank(?o6))
                ?o6 ?p7 ?o7 .
                OPTIONAL {
                  FILTER (isBlank(?o7))
                  ?o7 ?p8 ?o8 .
                  OPTIONAL {
                    FILTER (isBlank(?o8))
                    ?o8 ?p9 ?o9 .
                    OPTIONAL {
                      FILTER (isBlank(?o9))
                      ?o9 ?p10 ?o10 .
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
