{{!
@param Array<Map>   prefixes
@param IRI          private-graph
@param IRI          invitation-entity
@param IRI          contract-uri
}}

{{> prefixes}}

DELETE WHERE {
  GRAPH graph:internal {
    BIND(<{{invitation-entity}}> AS ?s)
    ?s ?p ?o .
    ?o a schema:Organization .
    ?o ?p2 ?o2 .
    ?o2 ?p3 ?o3 .
    ?s ?p1 ?o1 .
  }
}

;

INSERT DATA {
  GRAPH <{{private-graph}}> {
    <{{invitation-entity}}> a schema:InviteAction ;
    schema:object <{{contract-uri}}> .
  }
}