{{!
@param Array<Map>      prefixes
@param IRI             graph-uri
@param IRI             document-uri
@param String          id
@param String          doc-type
@param String          content-type
@param Boolean         is-global
}}

{{> prefixes}}

INSERT DATA {
  GRAPH <{{graph-uri}}> {
    <{{document-uri}}> a schema:MediaObject ;
    a pcfapp:{{doc-type}}
    dcterms:identifier "{{id}}" ;
    schema:name "{{name}}" ;
    dcterms:format "{{content-type}}" ;
    pcfapp:isGlobal {{is-global}} .
  }
}
