{{!
@param IRI        business-entity
@param Array<IRI> cpvs
@param IRI        private-graph
}}

{{> prefixes}}

INSERT DATA {
  GRAPH <{{private-graph}}> {
    {{! Bogus contract for matchmaker }}
    _:b0 pc:awardedTender [
        pc:supplier <{{business-entity}}>
      ] .

    {{#cpvs}}
    _:b0 pc:additionalObject <{{.}}> .
    {{/cpvs}}
  }
}
