{{!
@param IRI             business-entity
@param Map<Array<IRI>> cpv (optional) {cpv: {cpvs: [...] } }
@param String          ico (optional)
@param String          legal-name
@param String          location (optional)
@param Array<Map>      prefixes
@param IRI             private-graph
}}

{{> prefixes}}

INSERT DATA {
  GRAPH <{{private-graph}}> {
    <{{business-entity}}> a gr:BusinessEntity ;
      gr:legalName "{{legal-name}}" .

    {{#location}}
      <{{business-entity}}> schema:address [
        schema:addressLocality "{{.}}"
      ] ;
    {{/location}}

    {{#ico}}
      <{{business-entity}}> rov:registration [
          skos:notation "{{.}}"
        ] .
    {{/ico}}

    {{! Bogus contract for matchmaker }}
    {{#cpv}}
    _:b0 pc:awardedTender [
        pc:supplier <{{business-entity}}>
      ] .
    {{/cpv}}

    {{#cpv}}
      {{#cpvs}}
      _:b0 pc:additionalObject <{{.}}> .
      {{/cpvs}}
    {{/cpvs}}
  }
}
