PREFIX activities: <http://purl.org/procurement/public-contracts-activities#>
PREFIX adms:       <http://www.w3.org/ns/adms#>
PREFIX authkinds:  <http://purl.org/procurement/public-contracts-authority-kinds#>
PREFIX criteria:   <http://purl.org/procurement/public-contracts-criteria#>
PREFIX dc:         <http://purl.org/dc/terms/>
PREFIX dcterms:    <http://purl.org/dc/terms/>
PREFIX foaf:       <http://xmlns.com/foaf/0.1/>
PREFIX gr:         <http://purl.org/goodrelations/v1#>
PREFIX irw:        <http://www.ontologydesignpatterns.org/ont/web/irw.owl#>
PREFIX kinds:      <http://purl.org/procurement/public-contracts-kinds#>
PREFIX loted:      <http://loted.eu/ontology#>
PREFIX owl:        <http://www.w3.org/2002/07/owl#>
PREFIX payment:    <http://reference.data.gov.uk/def/payment#>
PREFIX pc:         <http://purl.org/procurement/public-contracts#>
PREFIX pcInv:      <http://purl.org/procurement/public-contracts-invitations#> 
PREFIX pccz:       <http://purl.org/procurement/public-contracts-czech#>
PREFIX pcdt:       <http://purl.org/procurement/public-contracts-datatypes#>
PREFIX pceu:       <http://purl.org/procurement/public-contracts-eu#>
PREFIX pcfapp:     <http://linked.opendata.cz/resource/pc-filing-app/>
PREFIX proctypes:  <http://purl.org/procurement/public-contracts-procedure-types#>
PREFIX qb:         <http://purl.org/linked-data/cube#>
PREFIX rdf:        <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs:       <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rov:        <http://www.w3.org/ns/regorg#>
PREFIX s:          <http://schema.org/>
PREFIX schema:     <http://schema.org/>
PREFIX skos:       <http://www.w3.org/2004/02/skos/core#>
PREFIX vann:       <http://purl.org/vocab/vann/>
PREFIX vcard:      <http://www.w3.org/2006/vcard/ns#>
PREFIX xsd:        <http://www.w3.org/2001/XMLSchema#>
