{{!
@param Array<Map>      prefixes
@param IRI             graph-uri
@param IRI             document-uri
}}

{{> prefixes}}

SELECT ?docType ?id ?name ?contentType ?isGlobal
WHERE {
  GRAPH <{{graph-uri}}> {
    <{{document-uri}}> a schema:MediaObject , ?docType .
    FILTER (!sameTerm(schema:MediaObject, ?docType))
    <{{document-uri}}> dcterms:identifier ?id ;
      schema:name ?name ;
      dcterms:format ?contentType ;
      pcfapp:isGlobal ?isGlobal .
  }
}
