<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>TenderStats</display-name>
  <context-param>
    <param-name>rdbAddress</param-name>
    <param-value>jdbc:mysql://192.168.116.130:3306/</param-value>
  </context-param>
  <context-param>
    <param-name>rdbDatabase</param-name>
    <param-value>pcfapp</param-value>
  </context-param>
  <context-param>
    <param-name>rdbUsername</param-name>
    <param-value>pcfapp</param-value>
  </context-param>
  <context-param>
    <param-name>rdbPassword</param-name>
    <param-value>teeneeR8kuad</param-value>
  </context-param>
  <context-param>
    <param-name>allowCasualMultipartParsing</param-name>
    <param-value>true</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>Jetty6-Gzip</filter-name>
    <filter-class>org.mortbay.servlet.GzipFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Jetty6-Gzip</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SystemManager</servlet-name>
    <servlet-class>cz.opendata.tenderstats.SystemManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemManager</servlet-name>
    <url-pattern>/SystemManager/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PCFilingApp</servlet-name>
    <servlet-class>cz.opendata.tenderstats.PCFilingApp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PCFilingApp</servlet-name>
    <url-pattern>/PCFilingApp/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Matchmaker-legacy</servlet-name>
    <servlet-class>cz.opendata.tenderstats.Matchmaker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Matchmaker-legacy</servlet-name>
    <url-pattern>/Matchmaker-legacy/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Utils</servlet-name>
    <servlet-class>cz.opendata.tenderstats.Utils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utils</servlet-name>
    <url-pattern>/Utils/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InvitationComponent</servlet-name>
    <servlet-class>cz.opendata.tenderstats.InvitationComponent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvitationComponent</servlet-name>
    <url-pattern>/InvitationComponent/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Matchmaker</servlet-name>
    <servlet-class>cz.opendata.tenderstats.matchmaker.Matchmaker</servlet-class>
    <init-param>
      <param-name>configDirectory</param-name>
      <param-value>config/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Matchmaker</servlet-name>
    <url-pattern>/Matchmaker/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContractsComponent</servlet-name>
    <servlet-class>cz.opendata.tenderstats.ContractsComponent</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name>ContractsComponent</servlet-name>
    <url-pattern>/ContractsComponent/*</url-pattern>
  </servlet-mapping>
</web-app>