@(registerForm: Form[User])
@import play.i18n._
@import helper._


@main("Welcome to Play") {

   
      <div class="row">
        <div class="col-md-8">
          <h2>@Messages.get("views.main.title")</h2>
          <p>@Messages.get("views.index.intro")</p>
        </div>
        <div class="col-md-4">
			<h3>New users</h3>
			<a href="register" class="btn btn-default btn-primary">Register here</a>
			<h3>Already registered</h3>
			<a href="login" class="btn btn-default btn-secondary">Log in here</a>
       </div>
      </div>

}
